@mixin transition-icon-hover{
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}

@mixin flexbox{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

