$bg-black: #000;
$bg-main-nav: #474747;
$bg-latest-works: #525252;
$bg-card-info: #3d3d3d;
$bg-footer: #1f2a32;
$bg-comments-section: #ecf0f3;


$search-account-color: #88929d;
$brand-color: #02baab;
$main-nav-color: #ccc;
$blog-visited: #6d0fae;
$team-post-color: #ccc;
$footer-link-time: #85939f;
$comment-bg: #fff;

$blog-grid-color: #88929d;
$grids-icon-bg: #414a54;
$grids-icon-color: #c2c2c2;

$bpost-quote-color: #ba9b6f;

$pinterest: #a30834;
$instagram: #825c48;
$youtube: #c4302b;
$twitter: #00a0d1;
$facebook: #3b5998;
$envelope-print: #79898c;
$soc-plus: #da694f;

$yellow-color: #ebad29;
$orange-color: #df701a;
$pink-color: #c4225d;
$purple-color: #951789;
$violet-color: #5e17aa;
$dark-blue-color: #332777;
$blue-color: #528ec9;

$dark-text: #3b4954;
$light-text: #fff;
$signup-text-color: #85939f;

$light-underline: #fff;
$dark-underline: #eee;
$blog-card-border: #c3c3c3;
$team-card-border: #eee;

$palette-list: $blue-color $dark-blue-color $violet-color $purple-color $pink-color $orange-color $yellow-color;
$i:0;
$j:0;
$footer-palette: $yellow-color $pink-color $blue-color $purple-color;

$content-width: 970px;
$blog-post-content: 690px;

$search-account-size: .6875rem;
$main-nav-size: .75rem;

$title-size: 2.25rem;
$card-title-size: 1.5rem;
$big-text-size: 1.125rem;
$names-card-size: .9rem;
$card-text-size: .875rem;
$post-card-size: .7rem;
$ever-theme: 1.5rem;

$big-blockquote: 1.5rem;

$experience-title: 3rem;
$team-info-size: .75rem;
$btn-size-text: .75rem;

$footer-text-size: .75rem;
$footer-title-size: 1.375rem;

$blog-grid-size: .75rem;
$pagination-size: .875rem;

$blog-post-title: 1.125rem;
$blog-post-text: .875rem;
$bpost-quote-size: 1.5rem;
$small-text: .75rem;
$gallery-link-size: .875rem;
$normal-size: .875rem;

$brand-font: 'Oxygen';
$blockquote-font: 'Lato';