.underline-title {
  &:after {
    content: '';
    display: block;
    width: 50px;
    border-bottom: 5px solid $light-underline;
    margin: 20px auto;
    margin-bottom: 40px;
  }
  &-dark {
    &:after {
      border-bottom: 5px solid $dark-underline;
    }
  }
}